<div style="float:left" id="gallery_browser_content">

  <!--<object height="<%=@sub_files[@index].video_height%>" width="<%=@sub_files[@index].video_width%>"><param name="movie" value="http://www.youtube.com/v/DOKuSQIJlog?version=3&feature=player_detailpage"><param name="allowFullScreen" value="true"><param name="allowScriptAccess" value="always"><embed src="http://www.youtube.com/v/DOKuSQIJlog?version=3&feature=player_detailpage" type="application/x-shockwave-flash" allowfullscreen="true" allowScriptAccess="always" width="640" height="360"></object>-->

  <object style="height: 300px; width: 490px">
    <param name="movie" value="http://www.youtube.com/v/<%=@sub_files[@index].link%>?version=3&feature=player_detailpage">
    <param name="allowFullScreen" value="true">
    <param name="allowScriptAccess" value="always">
    <embed src="http://www.youtube.com/v/<%=@sub_files[@index].link%>?version=3&feature=player_detailpage" type="application/x-shockwave-flash" allowfullscreen="true" allowScriptAccess="always" width="490" height="300">
  </object>

  <p id="gallery_browser_title">
    <%= @sub_files[@index].title %>
  </p>
  <p id="gallery_browser_description">
    <%= @sub_files[@index].description %>
  </p>
  <%= edit_file_link(@sub_files[@index].id) if admin_view? %>

</div>

<%= navigator(@index,@album.id,@index_max) %>